# Notebook for the project in *TDT4259 - Applied Data Science*

Necessary imports

In [1]:
import sys
import os

import pandas as pd
import numpy as np
sys.path.append(".")

from util.util import get_dataset, clean_attrition_dataset

We start by preprocessing the columns to be on a concise format.

In [4]:
raw_dataset = get_dataset("train_data.csv")
cleaned_dataset = clean_attrition_dataset(raw_dataset)

In [3]:
cleaned_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19104 entries, 0 to 19103
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  19104 non-null  datetime64[ns]
 1   Emp_ID                19104 non-null  int64
 2   Age                   19104 non-null  int64
 3   Gender                19104 non-null  object
 4   City                  19104 non-null  object
 5   Education_Level       19104 non-null  object
 6   Salary                19104 non-null  int64
 7   Date_Of_Joining       19104 non-null  datetime64[ns]
 8   Last_Working_Date     1616 non-null   datetime64[ns]
 9   Joining_Designation   19104 non-null  int64
 10  Designation           19104 non-null  int64
 11  Total_Business_Value  19104 non-null  int64
 12  Quarterly_Rating      19104 non-null  int64
dtypes: datetime64[ns](3), int64(7), object(3)
memory usage: 1.9+ MB